@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* Variables */
:root {
  --main_width: 960px; 
  --main_height: 720px; 
  --font_color:white;
  --roboto_font:'Roboto',Helvetica, sans-serif;
  --helvetica_font:Helvetica, sans-serif;
  --margin-top:30px;
  --red_:#cc071e;
  --white_:#ffffff;
  --grey_:#a0a0a0;
  --dark_:#363436;

}

* {
    box-sizing:border-box;
    border-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

p,h3,img,span {
  background-color: transparent;
}
p{
  margin:0%;
}
/** --------------------------------------------------------------------------- */
/** Header */
/** --------------------------------------------------------------------------- */

#rec_tab {background-color:red;}
#pred_tab {background-color:green;}

.logo {
    margin: 1% 0% 0% 0%;
    padding: 0%;
    text-align: center;
    background: var(--white_);
    color: var(--red_);
    font-size: 60px;
    line-height: 0.8;
  }

.sub_logo {
    margin-top: 0px;
    margin-left: 4px;
    padding: 0px;
    color: var(--grey_);
    text-align: center;  
    font-size: 16px; 
    letter-spacing: 3px;
}

/** --------------------------------------------------------------------------- */
/** Body */
/** --------------------------------------------------------------------------- */
body {
  width: var(--main_width);
  height: var(--main_height);
  margin: auto;
  /* padding: 0% 20px 0% 20px; */
  /* border-style: solid;
  border-width: 3px;
  border-color: var(--dark); */
    font-family: Helvetica, sans-serif;
}

.dropdown {
  padding-top: 0%;
  padding-left: 0%;
}


/** --------------------------------------------------------------------------- */
/** Recent Purchase Box */
/** --------------------------------------------------------------------------- */
.last_box {
  width: var(--main_width);
  height: auto;
  display: block;
  /* border-style: solid;
  border-width: 2px;
  border-color: var(--grey_); */
  /* text-align: center; */
}

.last_item {
  float: left;
  border: none;
  outline: none;
  width: 15%;
  height: 133px;
  padding: 10px;
  background-color: transparent;
}

.last_item img {
  /* opacity: 0.6; */
  width: 100%;
  height: 100%;
}

/** --------------------------------------------------------------------------- */
/** Recommend Box */
/** --------------------------------------------------------------------------- */
.rec_box {
  width: var(--main_width);
  height: auto;
  /* border-style: solid;
  border-width: 2px;
  border-color: var(--grey_); */
  display: block;
}
.selector {
  float: right;
  margin-right: 50px;
}

.item {
  float: left;
  border: none;
  outline: none;
  width: 15%;
  height: 133px;
  padding: 10px;
  background-color: transparent;
}
#active_item {
  opacity:1;
  border-style: solid;
  border-width: 2px;
  border-color: #cc071e;
}
/* Style the images inside the grid */
.item img {
  /* opacity: 0.6; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item img:focus {
  opacity: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #cc071e;
}

.item img:hover {
  opacity: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #cc071e;
}


/** --------------------------------------------------------------------------- */
/** Related Item Box */
/** --------------------------------------------------------------------------- */
.relate_item {
  float: left;
  border: none;
  /* outline: none; */
  width: 15%;
  height: 133px;
  padding: 10px;
  background-color: transparent;
}

.relate_item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
