@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Variables */
:root {
    --main_width: 960px; 
    --main_height: 500px; 
    --font_color:black;
    --roboto_font:'Roboto',Helvetica, sans-serif;
    --helvetica_font:Helvetica, sans-serif;
    --margin-top:30px;
  }

* {
    box-sizing:border-box;
    border-color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

p,h3,img,span {
    background-color: transparent;
  }
  

  /** --------------------------------------------------------------------------- */
  /** Header */
  /** --------------------------------------------------------------------------- */