<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recommender Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/home.css">
    </head>
    <!--! Header -->
    <header>
        <p class="logo">M&M</p>
        <p class="sub_logo">Recommender</p>
    </header>
    <body>
    <!--! Body 1: Input Customer & Model-->
    <form action="{{ url_for('home')}}"  class="dropdown" id="name_input" method="POST">
        <span class="input">Input:</span><br>
        <select name="customers" id="customer">
            {% for id,name in nameDict.items() %}
            <option value={{id}}>{{name}}</option>
            {% endfor %}
        </select>
        <select id="model_selector" name="model_types">
            <option value="model_1">Model 1</option>
            <option value="model_2">Model 2</option>
            <option value="model_3">Model 3</option>
            <option value="model_4">Model 4</option>
        </select>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form><br>

    <div class="cus_profile">
        <span>Customer Profile:</span><br>
        <span>Name: {{cus_name}}</span>
          </form>
    </div><br>
    <!--! Body 2: Recent Purchase Items -->
    <span>Recent Purchase:</span>
    <div class="last_box">
        <div class="last_items">
            {% for item in last_items[:max_recent] %}
            <button class="last_item">
                <img src="static/images/{{item}}.jpg" alt="{{articles[item]}}">
            </button>
            {% endfor %}
        </div>
    </div>   
    <!--! Body 3: Recommended Items-->
    
    <p>Recommend Items:</p>
    <div class="rec_box">
        <div class="rec_items">
            {% for item in rec_items[:6] %}
            <button class="item" id="item_1" >
                <img src="static/images/{{item}}.jpg" alt="{{articles[item]}}">
            </button>
            {% endfor %}
        </div>
        <div class="rec_items">
            {% for item in rec_items[6:] %}
            <button class="item" id="item_1" >
                <img src="static/images/{{item}}.jpg" alt="{{articles[item]}}">
            </button>
            {% endfor %}
            </div>
        </div>
    </div>
    <!--! Body 4 -->
    <!-- <span class="selector"> Type:
        <select id="sim_selector" name="sim_types">
            <option value="post">Features</option>
            <option value="engagement">Image</option>
         </select>
    </span> -->
    <!-- <br>
    <span>Products related to selected item:</span>
    <div class="item_item_box">
        <div class="item_item">
            {% for item in rec_items[6:] %}
            <div class="relate_item">
                <img src="static/images/{{item}}.jpg" alt="{{articles[item]}}">
            </div>
            {% endfor %}
        </div>
    </div> -->


    </body>
</html>