<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recommender Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/home.css">
    </head>
    <body>
    <!--! Header with Navigation Bar -->
    <header class="header">
            Recommender Project

    </header>
    
    
    <!--! Main Content -->
    </body>
</html>